Language: Verilog
BasedOnStyle: LLVM
AlignTrailingComments: Never
ColumnLimit: 0
ContinuationIndentWidth: 2
InsertNewlineAtEOF: true
KeepEmptyLinesAtTheStartOfBlocks: false
LineEnding: LF
MaxEmptyLinesToKeep: 0
